{% extends 'base.html.njk' %}

{% block body %}
<section>
<div id=container>

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Animal Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  {%for animal in arrAnimals%}
    <tr>
      <td>{{animal.name}}</td>
      <td>{{animal.qty}}</td>
      <td>${{animal.price}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
</section>

{% endblock %}