{% extends 'base.html.njk' %}

{% block body %}


<form class "form-signin" action= "/process-login" method = "POST">
        <h2 class="form-signin-head">Login</h2>

        <div>
        <label for="email">Username</label>
        <input type = "text" name = "username"/>
        </div>

        <div>
        <label for "password">Password</label>
        <input type = "text" name = "password"/>
        </div>

        <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>

        <p id='invalid-message'>{{ message }}</p>
</form>

{% endblock %}


